div.modal-header
	h3.modal-title Vente par espèce
div.modal-body
	p A payer : {{prix}} €
	p Montant donné : 
		input(type="text" ng-model="especeDonne")
	p À rendre : 
		b {{(especeDonne - prix) < 0 ? 0 : especeDonne - prix}} €
div.modal-footer
	button.btn.btn-success(ng-click="ok()") Enregistrer la vente
	button.btn.btn-danger(ng-click="cancel()") Annuler