div.modal-header
	h3.modal-title Ajouter une catégorie
div.modal-body
	p Nom de la catégorie :
		input(type='text' ng-model='cat_name')
div.modal-footer
	button.btn.btn-success(ng-click="ok()") Enregistrer
	button.btn.btn-danger(ng-click="cancel()") Annuler